body {
  background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.logo {
  position: static;
  top: 10px;
  left: 50px;
  width: 150px; /* Adjust the size of your logo */
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 4px;
}

label {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #0062cc;
}

button:active {
  background-color: #005cbf;
}

.toggle-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.toggle-mode span {
  margin-right: 0.5rem;
}